# Django и БД
Django==5.0.7
mysqlclient==2.2.7

# Celery и Redis
celery==5.3.6
redis==5.0.8
kombu==5.3.7
billiard==4.2.0
vine==5.1.0

# Работа с .env
python-dotenv==1.0.1
environs==11.2.0

# Вспомогательные
sqlparse==0.5.3
tzdata==2025.2
requests==2.32.3
gunicorn